#header {
  text-align: center;
}

#display {
  text-align: center;
}

.box {
  float: left;
  width: 20%;
  padding: 50px;
  margin: 10px;
}
#boxContainer {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
